* {
    margin: 0;

}

.section-contenar {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;

}

.section-title {
    font-family: Work sans-serif;
    text-align: right;
    margin: 216px 230px 365px 845px;
}

.section-sub-title {
    margin-bottom: 10px;
}

/* banner styles  */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner li {
    list-style: ;
}

.btn-primary {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    margin-top: 15px;
}

.section-titles {
    text-align: center;
    margin-top: 130px;
}

.skills-container {
    display: flex;
    justify-content: center;
}

.skills-container .skill {
    margin: 50px;
}

.skill-description {}

/* gradian style  */
.one {
    width: 1140px;
    height: 300px;
    background: url(../images/watch.png);
    margin-left: 100px;

}

.section-item {
    margin-top: 45px;
}

.section-sub-item {
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    margin: 59px 617px 59px 64px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 24px;

}

.btn-sec {
    color: rgb(219, 79, 13);
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #f8f5f4;
    margin-left: 50px;

}

.section-item {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    width: 1140px;
    height: 300px;
    border-radius: 8px;
    opacity: .4;
}

/* footer section  */
.contact {
    margin: 64px 0;
    margin-bottom: 0;
    display: flex;
    gap: 100px;
    background: black;
    color: white;
    padding: 130px 200px;
}
.contact input{
    margin-bottom: 15px;
}
.con-sub{
    padding-bottom: 15px;
}
.con-sub .submit{
    border-radius: 5px;
    background: #f8f5f4;
}
input[type=email]{
    background: rgba(48, 46, 46, 0.034);
    color: white;
    border-radius: 10px 10px;
    padding: 20px 50px;
}
input[type=submit]{
    color: rgb(219, 79, 13);
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #f8f5f4;
    margin-left: 5px;
}
.cont-titles{
    padding-bottom: 20px;
}
.cont-sub-title{
    padding-bottom: 20px;
}
.cont-sub-p{
    padding-bottom: 20px;
}
.cont-sub-p1{
    padding-bottom: 20px;
}
.contact a{
    text-decoration: none;
}